<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Neoficiální ukázka v raném vývoji</p>
<p>
    <a href="/users">Výpis uživatelů</a> &middot;
    <a href="/products">Výpis produktů</a> &middot;
    <a href="/transfers">Nejnovější transfery</a>
    <br>
    <a href="/adduser">Přidat uživatele</a> &middot;
    <b><a href="/product">Přidat produkt</a></b> &middot;
    <a href="/transfer">Transfer</a>
</p>
<form action="/user/addproduct" method="post" accept-charset="utf-8">
    <table>
        <!--<tr>
            <td><label for="name">název produktu</label></td>
            <td></td><td><input type="text" required disabled /></td><td></td>
        </tr>-->
        <tr>
            <td><label for="gateway"><abbr title="Množství NBR, které se odečte příjemci. Volí si každý producent za sebe! Hodí se např. k informování příjemců o ochotě producenta přijímat zákazníky (0 = mnoho).">brána pro získání</abbr></label></td>
            <td></td><td><input type="number" name="gateway" id="gateway" value="{{gateway}}" min="0" required autofocus /></td><td></td>
        </tr><tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><label for="resabundance"><abbr title="Kolikanásobnou rychlostí se zdroj obnovuje.&#13;1 = rovnováha v čerpání&#13;0 = zdroj vyčerpán&#13;2 = 2x rychlejší obnova">rychlost obnovy zdroje</abbr></label></td>
            <td>0</td><td><input type="number" name="resabundance" id="resabundance" value="{{resabundance}}" min="0" step="0.01" required /></td><td>&infin;</td>
        </tr>
        <tr>
            <td><label for="beneficiaries"><abbr title="Kolik příjemců/spotřebitelů tento produkt průměrně odebírá.">počet příjemců</abbr></label></td>
            <td>0</td><td><input type="number" name="beneficiaries" id="beneficiaries" value="{{beneficiaries}}" min="0" required /></td><td>&infin;</td>
        </tr>
        <tr>
            <td><label for="producers">počet producentů</label></td>
            <td>0</td><td><input type="number" name="producers" id="producers" value="{{producers}}" min="0" required /></td><td>&infin;</td>
        </tr>

        <tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="conssubben"><abbr title="Názorové, pocitové a/nebo smyslové hodnocení.">subjektivní přínos</abbr></label></td>
            <td>-100%</td><td><input type="range" name="conssubben" id="conssubben" value="{{conssubben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="ccs"><abbr title="Všechny korekce jsou jednoduše násobiče/váhy k předchozí proměnné. Pokud nevíte, ponechte 1x.">korekce subj. přínosu</abbr></label></td>
            <td>0</td><td><input type="number" name="ccs" id="ccs" value="{{ccs}}" min="0" step="0.01" required /></td><td>&infin;</td>
        </tr>
        <tr>
            <td><label for="consobjben"><abbr title="V ideálním případě vědecky podložený měřitelný přínos.">objektivní přínos</abbr></label></td>
            <td>-100%</td><td><input type="range" name="consobjben" id="consobjben" value="{{consobjben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="cco">korekce obj. přínosu</label></td>
            <td>0</td><td><input type="number" name="cco" id="cco" value="{{cco}}" min="0" step="0.01" required /></td><td>&infin;</td>
        </tr>

        <tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="envben"><abbr title="Podpora udržitelnosti a života v přírodě.">ekologický přínos</abbr></label></td>
            <td>-100%</td><td><input type="range" name="envben" id="envben" value="{{envben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="ceb">korekce eko. přínosu</label></td>
            <td>0</td><td><input type="number" name="ceb" id="ceb" value="{{ceb}}" min="0" step="0.01" required /></td><td>&infin;</td>
        </tr>
        <tr>
            <td><label for="humanben"><abbr title="Zda je díky produktu lidstvo odolnější/houževnatější.">vliv na lidstvo</abbr></label></td>
            <td>-100%</td><td><input type="range" name="humanben" id="humanben" value="{{humanben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="chb">korekce vlivu</label></td>
            <td>0</td><td><input type="number" name="chb" id="chb" value="{{chb}}" min="0" step="0.01" required /></td><td>&infin;</td>
        </tr>

        <tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><input type="hidden" name="id" value="{{id}}"/>
                <input type="hidden" name="time_created" value="0"/>
                <input type="hidden" name="benefit" value="0" />
                <input type="hidden" name="user_id" value="{{user_id}}" />
                <input type="hidden" name="name" id="name" value="{{name}}">
                Vzorec k nahlédnutí v přiloženém PDF.</td>
            <td></td><td><input type="submit" value="Odeslat" /></td><td></td>
        </tr>
    </table>
</form>
</body>
</html>