<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }

    </style>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Neoficiální ukázka v raném vývoji</p>
<p>
    <a href="/users">Výpis uživatelů</a> &middot;
    <b><a href="/products">Výpis produktů</a></b> &middot;
    <a href="/transfers">Nejnovější transfery</a>
    <br>
    <a href="/adduser">Přidat uživatele</a> &middot;
    <a href="/product">Přidat produkt</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<table>
    <tr>
        <th>ID produktu</th>
        <th>ID uživatele</th>
        <th>Brána</th>
        <th>Benefit</th>
        <th>Vytvořen</th>
        <th>Operace</th>
    </tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{user_id}}</td>
            <td>{{gateway}}</td>
            <td>{{benefit}}</td>
            <td>{{time_created}}</td>
            <td><!--<a href="/product/{{id}}">Upravit</a>--></td>
        </tr>
    {{/each}}
</table>
</body>
</html>