<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Unofficial early development sample</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Latest transfers</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <b><a href="/product">Add product</a></b> &middot;
    <a href="/transfer">Transfer</a>
</p>
<form action="/user/product" method="post" accept-charset="utf-8">
    <table>
        <tr>
            <td><label for="name">product name</label></td>
            <td></td><td><input type="text" required disabled /></td><td></td>
        </tr>
        <tr>
            <td><label for="gateway">gateway</label></td>
            <td></td><td><input type="number" name="gateway" id="gateway" value="{{gateway}}" min="0" step="0.01" required autofocus /></td><td></td>
        </tr><tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><label for="resabundance">resource abundance</label></td>
            <td>0</td><td><input type="number" name="resabundance" id="resabundance" value="{{resabundance}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>
        <tr>
            <td><label for="consprodratio">consumer/producer ratio</label></td>
            <td>0</td><td><input type="number" name="consprodratio" id="consprodratio" value="{{consprodratio}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>
        <tr>
            <td><label for="socimpact">social impact</label></td>
            <td>0</td><td><input type="number" name="socimpact" id="socimpact" value="{{socimpact}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>

        <tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="conssubben">consumer subjective benefit</label></td>
            <td>-100%</td><td><input type="range" name="conssubben" id="conssubben" value="{{conssubben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="ccs">consumer subj. benefit tun.</label></td>
            <td>0</td><td><input type="number" name="ccs" id="ccs" value="{{ccs}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>
        <tr>
            <td><label for="consobjben">consumer objective benefit</label></td>
            <td>-100%</td><td><input type="range" name="consobjben" id="consobjben" value="{{consobjben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="cco">consumer objective benefit tun.</label></td>
            <td>0</td><td><input type="number" name="cco" id="cco" value="{{cco}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>

        <tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="envben">environmental benefit</label></td>
            <td>-100%</td><td><input type="range" name="envben" id="envben" value="{{envben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="ceb">environmental benefit tun.</label></td>
            <td>0</td><td><input type="number" name="ceb" id="ceb" value="{{ceb}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>
        <tr>
            <td><label for="humanben">human benefit</label></td>
            <td>-100%</td><td><input type="range" name="humanben" id="humanben" value="{{humanben}}" min="-1" max="1" step="0.1" required /></td><td>100%</td>
        </tr>
        <tr>
            <td><label for="chb">human benefit tun.</label></td>
            <td>0</td><td><input type="number" name="chb" id="chb" value="{{chb}}" min="0" step="0.01" required /></td><td>INF</td>
        </tr>

        <tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><input type="hidden" name="id" value="{{id}}"/>
                <input type="hidden" name="time_created" value="0"/>
                <input type="hidden" name="benefit" value="0" />
                <input type="hidden" name="user_id" value="{{user_id}}" />
                <input type="hidden" name="name" id="name" value="{{name}}">
                Formula can be found here ???.</td>
            <td></td><td><input type="submit" value="Submit" /></td><td></td>
        </tr>
    </table>
</form>
</body>
</html>