<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }

    </style>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Unofficial early development sample</p>
<p>
    <a href="/users">Show users</a> &middot;
    <b><a href="/products">Show products</a></b> &middot;
    <a href="/transfers">Latest transfers</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/product">Add product</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        {{#if ../is_user_product}}<th>Gateway</th>{{/if}}
        {{#if ../is_user_product}}<th>Benefit</th>{{/if}}
        <th>Created</th>
        <th>Operation</th>
    </tr>
    {{#each vec}}
        <tr>
            <td>{{id}}</td>
            <td>{{#if ../is_user_product}}{{name}}{{else}}<a href="/product/{{id}}">{{name}}</a>{{/if}}</td>
            {{#if ../is_user_product}}<td style="overflow: hidden; max-width: 66px;">{{gateway}}</td>{{/if}}
            {{#if ../is_user_product}}<td style="overflow: hidden; max-width: 66px;">{{benefit}}</td>{{/if}}
            <td>{{time_created}}</td>
            <td>{{#if ../is_user_product}}Delete (WIP){{else}}<a href="/product/{{id}}/producers">Producers</a>{{/if}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>