<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }

    </style>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Unofficial early development sample</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <b><a href="/transfers">Latest transfers</a></b>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/product">Add product</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<table>
    <tr>
        <th>ID</th>
        <th>Producer</th>
        <th>Consumer</th>
        <th>Product</th>
        <th>Amount</th>
        <th>NBR</th>
        <th>-NBR</th>
        <th>Created</th>
        <th>Operation</th>
        <th>Comment</th>
    </tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{producer}}</td>
            <td>{{consumer}}</td>
            <td>{{product}}</td>
            <td>{{amount}}</td>
            <td>{{nbr}}</td>
            <td>{{gnbr}}</td>
            <td>{{time_created}}</td>
            <td><a href="/deletetransfer/{{id}}">Delete</a></td>
            <td>{{comment}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>
