<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Unofficial early development sample</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Latest transfers</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/product">Add product</a> &middot;
    <b><a href="/transfer">Transfer</a></b>
</p>
<form action="/transfer" method="post" accept-charset="utf-8">
    <table>
        <tr>
            <td>
                <label for="producer">producer</label>
            </td>
            <td>
                <select name="producer" id="producer" required autofocus>
                    {{#each users}}
                        <option value="{{id}}">#{{id}} {{name}} ({{nbr}})</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="consumer">consumer</label>
            </td>
            <td>
                <select name="consumer" id="consumer" required>
                    <option value="0">nobody/everybody</option>
                    {{#each users}}
                        <option value="{{id}}">#{{id}} {{name}} ({{nbr}})</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="product">product</label>
            </td>
            <td>
                <select name="product" id="product" required>
                    {{#each products}}
                        <option value="{{id}}">#{{id}} {{name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="amount">amount</label>
            </td>
            <td>
                <input type="number" name="amount" id="amount" value="1" min="0" step="0.000001" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="comment">comment</label>
            </td>
            <td>
                <input type="text" name="comment" id="comment" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Transfer"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
