<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }

    </style>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Unofficial early development sample</p>
<p>
    <b><a href="/users">Show users</a></b> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Latest transfers</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/product">Add product</a> &middot;
    <a href="/transfer">Transfer</a>
</p>

<form action="/user/product" method="post" accept-charset="utf-8" id="productform">
Select product to assign: <select name="product_id" id="product_id" form="productform" required>
    {{#each products}}
        <option value="{{id}}">#{{id}} {{name}}</option>
    {{/each}}
</select><br><br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>NBR</th>
        <th><a href="/fame">Fame</a></th>
        <th>Created</th>
        <th>Operation</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td style="overflow: hidden; max-width: 66px;">{{nbr}}</td>
            <td style="overflow: hidden; max-width: 66px;">{{fame}}</td>
            <td>{{time_created}}</td>
            <td>
                <button type="submit" value="{{id}}" name="user_id">Assign product</button>
            </td>
        </tr>
    {{/each}}
</table>
</form>
</body>
</html>